.App {
  text-align: center;
  font-family: monospace;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: rgb(231, 231, 181) !important;
  border: 1px solid black;
}

.appbox {
  min-height: 30vh;
  width: 100%;
  border: 1px solid grey;
  margin: 3rem 0;
  background: rgba(247, 246, 228, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(229, 187, 187, 0.49);
}

.boxrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
}

.boxel {
  display: flex;
}

.tokenimg {
  width: 90%;
  border: 3px solid black;
  border-radius: 5%;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.settingrow {
  width: 100%;
  text-align: left;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 16px;
  align-content: center;
  display: flex;
  position: relative;
  background-color: beige;
}

.rowanim {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    typing 3.5s steps(40, end)
}

.rowfadein {
  animation: 
    fadein 3.5s steps(3, end)
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The fade in effect */
@keyframes fadein {
  from { opacity: 0 }
  to { opacity: 1 }
}

.colorbox {
  display: inline-block;
  align-self: center;
  width: 20px;
  height: 20px;
  border: 1px solid grey;
  margin: 0 1rem;
}